body {
  display: flex;
  margin-top: 130px;
  margin-left: 500px;
  justify-content: center;
  background-image: url(https://img.freepik.com/premium-photo/green-background-with-tree-branch-with-white-flowers_1000124-4691.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border:5px solid rgb(225, 225, 200);
  width:920px;
  height: 750px;
  /* -webkit-backdrop-filter: blur(2px); */
  backdrop-filter: blur(10px);
  border-radius: 60px;
  overflow-x: hidden;
  overflow-y: hidden;

}
button {
  width: 95px;
  height: 60px;
  cursor: pointer; 
  outline: none;
  padding: 5px;
  border-color: #58bae4;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}
 #header {
  padding: 10px;
  color:rgb(0, 0, 0);
  font-size: 46px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#58bae4;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color:rgb(7, 7, 7);
  font-size: 25px;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 97px;
  padding: 30px;
  height: 85px;
  font-size: 30px;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 6.5px;
  box-shadow: 0px 0px 9px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}
 .day + #currentDay {
  background-color:#41a3d4;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #a7d6eb;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #f3e7f3 !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #cbe0eb;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}



@media (max-width: 1200px) {
  body {
    margin-left: 300px;
    width: 800px;
    height: 650px;
  }

  #container {
    width: 700px;
  }
}

@media (max-width: 992px) {
  body {
    margin-left: 200px;
    width: 600px;
    height: 550px;
  }

  #container {
    width: 600px;
  }

  #weekdays {
    font-size: 22px;
  }

 .day {
    width: 90px;
    padding: 25px;
    height: 75px;
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  body {
    margin-left: 100px;
    width: 400px;
    height: 450px;
  }

  #container {
    width: 400px;
  }

  #weekdays {
    font-size: 20px;
  }

 .day {
    width: 80px;
    padding: 20px;
    height: 70px;
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  body {
    margin-left: 50px;
    width: 300px;
    height: 400px;
  }

  #container {
    width: 300px;
  }

  #weekdays {
    font-size: 16px;
  }

 .day {
    width: 70px;
    padding: 15px;
    height: 65px;
    font-size: 24px;
  }
}


@media screen and (min-width:280px) and (max-width:650px){
  body {
    margin-left: 5px;
    margin-top: 40px;
    width: 360px;
    height: 550px;
    backdrop-filter: blur(10px);
    background-position-x: center;
    border-radius: 60px;
  }
  button {
    width: 60px;
    height: 50px;
    cursor: pointer; 
    outline: none;
    padding: 5px;
    border-color: #58bae4;
    border-radius: 20px;
    color: white;
    font-size: 13px;
  }
   #header {
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #header button {
    background-color:#58bae4;
  }
  #container {
    width: 390px;
  }

  #weekdays {
    width: 20%;
    display: flex;
    color:rgb(7, 7, 7);
    font-size: 10px;
  }

 .day {
    width: 40px;
    padding: 10px;
    height: 40px;
    font-size: 19px;
    margin: 10px;
  }
  #weekdays div {
    width: 41px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
  
  }
 
  .day:hover {
    background-color: #e8faed;
  }
   .day + #currentDay {
    background-color:#41a3d4;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #a7d6eb;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #f3e7f3 !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #cbe0eb;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
 
}


@media screen and (min-width:651px) and (max-width:1024px){
  body {
    margin-left: 5px;
    margin-top: 40px;
    width: 360px;
    height: 550px;
    backdrop-filter: blur(10px);
    border-radius: 60px;
  }
  button {
    width: 60px;
    height: 50px;
    cursor: pointer; 
    outline: none;
    padding: 5px;
    border-color: #58bae4;
    border-radius: 20px;
    color: white;
    font-size: 13px;
  }
   #header {
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #header button {
    background-color:#58bae4;
  }
  #container {
    width: 390px;
  }

  #weekdays {
    width: 20%;
    display: flex;
    color:rgb(7, 7, 7);
    font-size: 10px;
  }

 .day {
    width: 40px;
    padding: 10px;
    height: 40px;
    font-size: 19px;
    margin: 10px;
  }
  #weekdays div {
    width: 41px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
  
  }
 
  .day:hover {
    background-color: #e8faed;
  }
   .day + #currentDay {
    background-color:#41a3d4;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #a7d6eb;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #f3e7f3 !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #cbe0eb;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
 
}


@media screen and (min-width:1025px) and (max-width:1200px){
  body {
    margin-left: 5px;
    margin-top: 40px;
    width: 360px;
    height: 550px;
    backdrop-filter: blur(10px);
    border-radius: 60px;
  }
  button {
    width: 60px;
    height: 50px;
    cursor: pointer; 
    outline: none;
    padding: 5px;
    border-color: #58bae4;
    border-radius: 20px;
    color: white;
    font-size: 13px;
  }
   #header {
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #header button {
    background-color:#58bae4;
  }
  #container {
    width: 390px;
  }

  #weekdays {
    width: 20%;
    display: flex;
    color:rgb(7, 7, 7);
    font-size: 10px;
  }

 .day {
    width: 40px;
    padding: 10px;
    height: 40px;
    font-size: 19px;
    margin: 10px;
  }
  #weekdays div {
    width: 41px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
  
  }
 
  .day:hover {
    background-color: #e8faed;
  }
   .day + #currentDay {
    background-color:#41a3d4;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #a7d6eb;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #f3e7f3 !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #cbe0eb;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }
 
}